* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}

label {
    display: block;
    margin-bottom: .5rem;
    color: rgba(107,114,128,1);
    font-weight: 700;
}

#background {
    display: flex;
    min-height: 100vh;
    background-color: rgba(96,165,250,1);
    justify-content: center;
    align-items: center;

}
#form-bg {
    margin: 2%;
    background-color: rgba(255,255,255,1);
    padding: 3rem;
    border-radius: .25rem;
    box-shadow: 0 0 #0000, 0 0 #0000,0 25px 50px -12px rgba(0, 0, 0, 0.25);
    width: 10%;
}

#header{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: rgba(31,41,55,1);
}

.field {
    /*ini biar ada spacingnya antara text field ^nyontek dri stackoverflow */
    margin-top: 16px;
}

.textform {
    width: 100%;
    outline: 2px solid transparent;
    padding: .75rem;
    border-width: 2px;
    border-color: rgba(229, 231, 235, 1);
    border-radius: .25rem;
    box-sizing: border-box;
    border-style: solid;
}

.textform:focus{
    border-color: rgba(139,92,246,1)
}

.kirim{
    margin-top: 16px;
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: .25rem;
    color: rgba(120,53,15,1);
    font-weight: 700;
    background-color: rgba(251,191,36,1);
    border-width: 0;
    border-style: solid;

    transition-duration: .3s;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
}

.kirim:hover{
    background-color: rgba(252,211,77,1);
    color: rgba(146,64,14,1);
}


.profile-pict{
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
}

.profile-table {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.profile-data{
    margin: 1rem 1rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bio-label{
    margin-bottom: .5rem;
    color: rgb(15, 43, 100);
    font-weight: 900;
}